@using X.PagedList.Mvc.Core
@model List<Bomix_Force.ViewModels.FinancialViewModel>

@{
    ViewData["Title"] = "Index";
}
<div style="display:none" id="loadingSpinnerOverlay">
    <div class="spinner" id="spinner"></div>
    <div class="overlay" id="overlay"></div>
</div>
<div id="OrderDetailsHere"></div>
<div class="clearfix mx-5">
    <div class="mr-5 ml-5">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-danger font-project mt-3" style="color: white; background-color: #D52229;">Voltar</a>
            @*<a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
                <a class="pagina-atual">Financeiro</a>*@
        </div>
        @using (Html.BeginForm())
        {
            <form id="typeSearch" asp-controller="Order" asp-action="Index">
                <div class="row">
                    <div class="form-group">
                        <label for="example-date-input" class="col-2 col-form-label">Busca</label>
                        <div class="search ml-3 mr-2">
                            <input type="image" alt="Submit" src="~/Assets/ic_search.png" style="margin-left: 3px;" />
                            @Html.TextBox("searchString", null, new { placeholder = "Pesquisar", @class = "input-search" })
                        </div>
                    </div>
                    <div class="form-group mr-2">
                        <label for="example-date-input" class="col-2 col-form-label ">Inicio</label>
                        <div class="">
                            <input class="form-control" value="@(ViewBag.dateInit)" name="dateInit" id="dateInit" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-date-input" class="col-2 col-form-label">Fim</label>
                        <div class="">
                            <input class="form-control" value="@(ViewBag.dateEnd)" name="dateEnd" id="dateEnd" type="date">
                        </div>
                    </div>
                    <div class="form-group mt-2 ml-2">
                        <label for="example-date-input" class="col-2 col-form-label"></label>
                        <div class="mt-1">
                            <button class="btn btn-primary mr-4 font-project" type="submit" style="color: white; background-color: #002A51;">Buscar</button>
                        </div>
                    </div>
                    @*<div class=" ml-2">
            <button class="btn btn-primary font-project" type="submit" style="color: white; background-color: #002A51;">Buscar</button>
        </div>*@
                </div>
            </form>

        }
        <hr />
        <div class="table-responsive mt-5">
            <table id="#tableOrder" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">
                            NF
                            @if (ViewBag.filter == "NotaAsc")
                            {
                                <a href="@Url.Action("Index", "Financial", new { filter = "NotaDesc" })"><i class="fas fa-caret-up"></i></a>
                            }
                            @if (ViewBag.filter != "NotaAsc")
                            {
                                <a href="@Url.Action("Index", "Financial", new { filter = "NotaAsc" })"><i class="fas fa-caret-down"></i></a>
                            }
                        </th>
                        <th class="text-center">
                            Emissão
                            @if (ViewBag.filter == "EmissaoAsc")
                            {
                                <a href="@Url.Action("Index", "Financial", new { filter = "EmissaoDesc" })"><i class="fas fa-caret-up"></i></a>
                            }
                            @if (ViewBag.filter != "EmissaoAsc")
                            {
                                <a href="@Url.Action("Index", "Financial", new { filter = "EmissaoAsc" })"><i class="fas fa-caret-down"></i></a>
                            }
                        </th>
                        <th class="text-center">
                            Cliente
                        </th>
                        <th class="text-center">
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody id="tableFinancialbody">

                    @if (Model?.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {

                        }
                    }
                    else
                    {
                        @if (!User.IsInRole("Company"))
                        {
                            <tr>
                                <td colspan="9" class="text-center">
                                    <h6>Não foi possível encontrar NFs.</h6>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" class="text-center">
                                    <h6>Não foi possível encontrar NFs.</h6>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div class="text-center" id="loadingdiv">
                <div class="spinner-border" role="status">
                    <span class="sr-only text-center">Carregando...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loadingdiv").hide();
        var filter = '@(ViewBag.filter)'
        var searchString = '@(ViewBag.searchString)'
        var orders = '@(ViewBag.orders)'
        var modelLenght = '@(Model?.Count)'
        modelLenght = modelLenght ? modelLenght : 0
        var dataexist = true
        var inProgress = false
        currentPageNumber = 0;
        loadData(currentPageNumber)
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 20 && !inProgress && dataexist) {
                inProgress = true;
                currentPageNumber += 1;
                loadData(currentPageNumber);
                console.log("teste")
                $("#loadingdiv").show();
            }
        }
            )
        function loadData(currentPage) {

            if (currentPageNumber != 0 && currentPageNumber * 20 > modelLenght ) {
                dataexist = false
                $("#loadingdiv").hide();
            }
            $.ajax({
                url: 'InfiniteScroll',
                data: {
                    pageNumber: currentPage, pageSize: 20, filter: filter, searchString: searchString
                },
                method: 'Post',
                dataType: 'html',
                success: function (data) {
                    var ordertable = $('#tableFinancialbody');
                    ordertable.append(data)
                    inProgress = false;
                    $("#loadingdiv").hide();
                }
            })
        }
    })
</script>



<style lang="scss" scoped>
    .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-radius: 25px;
    }

    .blue {
        color: #007bff;
    }
</style>
