
@{
    ViewData["Title"] = "Login";
}
@*<a>@User.IsInRole("User")</a>*@

<div class="row justify-content-md-center">
    <div class="col-5 col-lg-2 col-sm-6 col-md-2 col-xl-2 py-3 px-3 mt-5 ml-5">
        <div class="sheet-menu">
            <a class="text-white" href="@Url.Action("Index", "User")">
                <div class="card-body text-center">
                    @*--imagem do card--*@
                    <img src="~/Assets/users.png" />    
                    <h6 class="card-title">Usuários</h6>
                </div>
            </a>
        </div>
    </div>
    <div class="col-5 col-lg-2 col-sm-6 col-md-2 col-xl-2 py-3 px-3 mt-5 mr-2">
        <div class="sheet-menu">
            <a class="text-white" href="@Url.Action("Index", "Order")">
                <div class="card-body text-center">
                    <img src="~/Assets/bag.png" />
                    <h6 class="card-title">Pedidos</h6>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-5 col-lg-2 col-sm-6 col-md-2 col-xl-2 py-3 px-3 mt-2 ml-5">
        <div class="sheet-menu">
            <a class="text-white" href="@Url.Action("Index", "User")">
                <div class="card-body text-center">
                    <img src="~/Assets/warning.png" />
                    <h6 class="card-title">Não conformidade</h6>
                </div>
            </a>
        </div>
    </div>
    <div class="col-5 col-lg-2 col-sm-6 col-md-2 col-xl-2 py-3 px-3 mt-2 mr-2">
        <div class="sheet-menu">
            <a class="text-white" href="@Url.Action("Index", "User")">
                <div class="card-body text-center">
                    <img src="~/Assets/doc.png" />
                    <h6 class="card-title">Documentos</h6>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-5 col-lg-2 col-sm-6 col-md-2 col-xl-2 py-3 px-3 mt-2 ml-5">
        <div class="sheet-menu">
            <a class="text-white" href="@Url.Action("Index", "User")">
                <div class="card-body text-center">
                    <img src="~/Assets/phone.png" />
                    <h6 class="card-title">Contato</h6>
                </div>
            </a>
        </div>
    </div>
    <div class="col-5 col-lg-2 col-sm-6 col-md-2 col-xl-2 py-3 px-3 mt-2 mr-2">

    </div>
</div>

