
@{  
    ViewData["Title"] = "Login";
}

<div class="row justify-content-md-center">
  <div class="col-5 col-xl-2 py-3 px-3 mt-5 ml-5">
    <div class="card bg-Login">
    <a class="text-white" href="@Url.Action("Index", "User")">
      <div class="card-body text-center">
        <i class="align-middle fas fa-user-alt fa-2x"></i>
        <h6 class="card-title">Usuários</h6>
      </div>
    </a>
    </div>
  </div>
  <div class="col-5 col-xl-2 py-3 px-3 mt-5 mr-2">
    <div class="card bg-Login">
    <a class="text-white" href="@Url.Action("Index", "Order")">
      <div class="card-body text-center">
        <i class="text-align:center fa fa-archive fa-2x"> </i>
        <h6 class="card-title">Pedidos</h6>
      </div>
    </a>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-5 col-xl-2 py-3 px-3 mt-2 ml-5">
    <div class="card bg-Login">
    <a class="text-white" href="@Url.Action("Index", "User")">
      <div class="card-body text-center">
        <i class="fas fa-check-circle fa-2x"></i>
        <h6 class="card-title">Pedidos Fechados</h6>
      </div>
    </div>
    </a>
  </div>
  <div class="col-5 col-xl-2 py-3 px-3 mt-2 mr-2">
    <div class="card bg-Login">
    <a class="text-white" href="@Url.Action("Index", "User")">
      <div class="card-body text-center">
        <i class="fas fa-exclamation-triangle fa-2x"></i>
        <h6 class="card-title">Não conformidade</h6>
      </div>
    </a>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-5 col-xl-2 py-3 px-3 mt-2 ml-5">
    <div class="card bg-Login">
    <a class="text-white" href="@Url.Action("Index", "User")">
      <div class="card-body text-center">
        <i class="fas fa-file-alt fa-2x"></i>
        <h6 class="card-title">Documentos</h6>
      </div>
    </a>
    </div>
  </div>
  <div class="col-5 col-xl-2 py-3 px-3 mt-2 mr-2">
    <div class="card bg-Login">
    <a class="text-white" href="@Url.Action("Index", "User")">
      <div class="card-body text-center">
        <i class="fas fa-phone-volume fa-2x"></i>
        <h6 class="card-title">Contato</h6>
      </div>
    </a>
    </div>
  </div>
</div>

<style lang="scss" scoped>

.bg-Login {
    background-color: #6670FF  !important;
}

</style>