@model List<Bomix_Force.ViewModels.OrderViewModel>
@{
    ViewData["Title"] = "OrderScroll";
}

@if (Model?.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <th class="text-center">
                @item.Pedido
            </th>
                @if (item.Item.Count>0) { 
            <th class="text-center">
                @item.Item[0].C6_Recno
            </th>
                }
                else
                {
                    <th><h1>NÃO HÁ DADOS</h1></th>
                }
            <th class="text-center">
                @Html.DisplayFor(modelItem => @item.Emissao)
            </th>
            <th class="text-center">
                @item.Cidade - @item.UF
            </th>
            @if (@item.Status == "ENCERRADO")
            {
                <th class="mt-2 badge bg-danger">

                    Encerrado
                </th>

            }
            else if (@item.Status == "ABERTO")
            {
                <th class="mt-2 badge bg-primary">
                    Aberto
                </th>
            }
            else if (@item.Status == "LIBERADO")
            {
                <th class="mt-2 badge bg-success">
                    Liberado
                </th>
            }
            else if (@item.Status == "ORCAMENTO")
            {
                <th class="mt-2 badge bg-warning">
                    Orçamento
                </th>
            }
            else
            {
                <th class="mt-2 badge bg-secondary">
                    @item.Status
                </th>
            }

            <th class="text-center">
                <button class="btn" data-toggle="details-modal" data-target="#detailsOrder" data-url="@Url.Action($"Details/{item.Pedido}")"><i class="fas fa-info-circle fa-2x blue"></i></button>
            </th>

        </tr>
    }
}
