@model List<Bomix_Force.ViewModels.OrderViewModel>
@{
    ViewData["Title"] = "OrderScroll";
}

@if (Model?.Count() > 0)
{
    var pedido = "";
    bool color = true;
    @foreach (var item in Model)
    {
        if (pedido == item.Pedido)
        {
            item.Color = color;
        }
        else
        {
            pedido = item.Pedido;
            color = !color;
            item.Color = color;
        }
        <tr class="@item.Color.ToString()">
            <th class="text-center">
                @item.Pedido

            </th>
            @if (@item.OrdemCompra != "")
            {
                <th class="text-center ">
                    @item.OrdemCompra
                </th>

            }
            else
            {
                <th class="text-center ">
                    -
                </th>
            }
            @if (@item.Produto != "")
            {
                <th class="text-center ">
                    @item.Produto
                </th>

            }
            else
            {
                <th class="text-center ">
                    -
                </th>
            }
            @if (@item.Quantidade != 0)
            {
                <th class="text-center">
                    @string.Format("{0:0,0}", item.Quantidade)

                </th>

            }
            else
            {
                <th class="text-center">
                    -
                </th>
            }
            @if (@item.Valor != 0)
            {
                <th class="text-center">
                    @string.Format("{0:C}", item.Valor)
                </th>

            }
            else
            {
                <th class="text-center">
                    -
                </th>
            }
            @if (!User.IsInRole("Employee"))
            {
                @if (@item.Personalizacao != "")
                {
                    <th class="text-center">
                        @item.Personalizacao
                    </th>

                }
                else
                {
                    <th class="text-center">
                        -
                    </th>

                }
            }
            @if (!User.IsInRole("User") && !User.IsInRole("Company"))
            {
                <th class="text-center">
                    @item.Cliente
                </th>
            }
            <th class="text-center">
                @Html.DisplayFor(modelItem => @item.PCP)
            </th>
            <th class="text-center">
                @item.Cidade - @item.UF
            </th>
            @if (@item.Status == "ENCERRADO")
            {
                <th class="mt-2 badge border border-success">
                    <a class="text-success">ENCERRADO</a>
                </th>

            }
            else if (@item.Status == "ABERTO")
            {
                <th class="mt-2 badge border border-primary">
                    <a class="text-primary">ABERTO</a>
                </th>
            }
            else if (@item.Status == "LIBERADO")
            {
                <th class="mt-2 badge border border-primary ">
                    <a class="text-primary">ABERTO</a>
                </th>
            }
            else if (@item.Status == "ORCAMENTO")
            {
                <th class="mt-2 badge border border-secondary">
                    <a class="text-secondary">ORCAMENTO</a>
                </th>
            }
            else if (@item.Status == "PARCIAL")
            {
                <th class="mt-2 badge border border-warning">
                    <a class="text-warning">PARCIAL</a>
                </th>
            }
            else
            {
                <th class="mt-2 badge border border-info">
                    <a class="text-info">@item.Status</a>
                </th>
            }
            @if (User.IsInRole("User") || User.IsInRole("Company"))
            {
                <th>
                    <div>

                        <button data-toggle="orderDetails" onclick="openConfirmationModal(this, @item.Pedido)" data-url="@Url.Action($"DuplicateData/{@item.Pedido}")" data-target="#duplicateModal" class="btn btn-primary btn-lg float-right"><i class="fas fa-copy"></i></button>
                    </div>
                </th>
            }

        </tr>

    }
}
<script>
    function openConfirmationModal(button, pedido) {
        console.log(pedido)
        var OrderDetailsElement = $('#OrderDetailsHere');
        var url = $(button).data('url');
        var decodedUrl = decodeURIComponent(url)
        $.get(decodedUrl).done(function (data) {
            OrderDetailsElement.html(data);
            OrderDetailsElement.find('.modal').modal('show');
        })
    }
    $(document).ready(function ($) {
        $('.False').addClass('table-secondary');
        $('.True').addClass('table-light');
        $("tr").removeClass("True");
        $("tr").removeClass("False");
    });
</script>