@using X.PagedList.Mvc.Core
@model List<Bomix_Force.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

        <div id="OrderDetailsHere"></div>
        <div class="clearfix mx-5">
            <div class="pagination-history">
                <a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
                <a class="pagina-atual">Pedidos</a>
            </div>
            @using (Html.BeginForm())
            {
                <form id="typeSearch" asp-controller="Order" asp-action="Index">
                    <div class="row mt-3">
                        @*<select id="selectType" class="form-control col-6 mr-5" name="selectType">
                        <option value="nOrder">Número pedido</option>
                        <option value="status">Status</option>
                    </select>*@
                        <div class="search ml-2">
                            <input type="image" alt="Submit" src="~/Assets/ic_search.png" style="margin-left: 3px;" />
                            @Html.TextBox("searchString", null, new { placeholder = "Pesquisar", @class = "input-search" })
                        </div>
                    </div>
                </form>
                <!-- <a class="btn btn-primary float-right mr-1" style="float: right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Expandir pedidos
        </a> -->

            }
        <div class="table-responsive mt-5">
            <table id="#tableOrder" class="table table-striped">
                <thead class="thead-dark">

                    <tr>

                        <th class="text-center">
                            Numero Pedido
                        </th>
                        <th class="text-center">
                            Produto
                        </th>
                        <th class="text-center">
                            Quantidade
                        </th>
                        <th class="text-center">
                            Arte
                        </th>
                        <th class="text-center">
                            Personalizado
                        </th>
                        @if (!User.IsInRole("User") && !User.IsInRole("Company"))
                        {
                            <th class="text-center">
                                Cliente
                            </th>
                        }
                            <th class="text-center">
                                PCP
                                @*@Html.ActionLink("Emissão", "Index", new { filter = "Emissao" })*@
                                @if (ViewBag.filter == "EmissaoAsc")
                                {
                                    <a href="@Url.Action("Index", "Order", new { filter = "EmissaoDesc" })"><i class="fas fa-caret-up"></i></a>
                                }
                                @if (ViewBag.filter != "EmissaoAsc")
                                {
                                    <a href="@Url.Action("Index", "Order", new { filter = "EmissaoAsc" })"><i class="fas fa-caret-down"></i></a>
                                }

                                @* colocar um if para verificar se é pra ser o iconede menu down ou menu up *@
                                @*<span class="glyphicon glyphicon-menu-up"></span>*@ @*Botão virado pra cima*@
                                @*<span class="glyphicon glyphicon-menu-down"></span>*@ @*Botão virado pra baixo*@
                            </th>

                            <th class="text-center">
                                Cidade - UF
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                            @if (User.IsInRole("User"))
                            {
                                <th class="text-center">
                                    Detalhes
                                </th>
                            }
                        </tr>
                </thead>
                <tbody id="tableOrderbody">

                    @if (Model?.Count() > 0)
                    {

                    }
                    else
                    {
                        <tr>
                            <td>
                                <h6>Não há pedidos cadastrados.</h6>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @Html.ValidationMessage("orderIndexError", "", new { @class = "text-danger" })
            <div class="text-center" id="loadingdiv">
                <div class="spinner-border" role="status">
                    <span class="sr-only text-center">Carregando...</span>
                    <!-- <div class="sr-only" id="loadingdiv">CARREGANDO...</div> -->
                </div>
            </div>
        </div>
        </div>
<script src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loadingdiv").hide();
        var filter = '@(ViewBag.filter)'
        var searchString = '@(ViewBag.searchString)'
        var orders = '@(ViewBag.orders)'
        var dataexist = true

        var inProgress = false
        currentPageNumber = 0;
        loadData(currentPageNumber)
        $(window).scroll(function () {

            if ($(window).scrollTop() + $(window).height() > $(document).height() - 20 && !inProgress && dataexist) {
                inProgress = true;
                currentPageNumber += 1;
                loadData(currentPageNumber);
                $("#loadingdiv").show();
            }
        }
            )
        function loadData(currentPage) {
            if (currentPageNumber * 20 >@Model.Count && currentPageNumber != 0) {
                dataexist=false
            }
            $.ajax({
                url: 'InfiniteScroll',
                data: {
                    pageNumber: currentPage, pageSize: 20, filter: filter, searchString: searchString
                },
                method: 'Post',
                dataType: 'html',
                success: function (data) {
                    var ordertable = $('#tableOrderbody');
                    ordertable.append(data)
                    inProgress = false;
                    $("#loadingdiv").hide();
                }
            })
        }
    })
</script>



<style lang="scss" scoped>
    .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-radius: 25px;
    }

    .blue {
        color: #007bff;
    }
</style>
