@model Bomix_Force.ViewModels.UserViewModel

<div class="modal fade" id="CreateUserModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal Cadastro-->
        <form method="post" asp-controller="User" asp-action="Create">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title float-left text-white">Cadastro</h4>
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <label asp-for="@Model.Name"></label>
                            <input onchange="changeCreateName(this.value)" id="createName" asp-for="@Model.Name" class="form-control" />
                            <span id="createNameSpan" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="@Model.UserName"></label>
                            <input id="createUsername" onchange="changeCreateUsername(this.value)" asp-for="@Model.UserName" class="form-control" />
                            <span id="createUsernameSpan" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="@Model.Email"></label>
                            <input onchange="changeCreateEmail(this.value)" id="createEmail" asp-for="@Model.Email" class="form-control" />
                            <span id="createEmailSpan" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row py-2 mb-4">
                        <div class="col-6">
                            <label asp-for="@Model.Cargo"></label>
                            <select id="selectCreateCargo" onchange="changeCreateCargo(this.value)" asp-for="@Model.Cargo" class="form-control ">
                                <option value="">Selecione o Cargo</option>
                                <option value="Propriétario">Propriétario</option>
                                <option value="Diretor">Diretor</option>
                                <option value="Gerente">Gerente</option>
                                <option value="Coordenador">Coordenador</option>
                                <option value="Supervisor">Supervisor</option>
                                <option value="Analista">Analista</option>
                                <option value="Assistente/Secretária">Assistente/Secretária</option>
                                <option value="Genérico Industrial">Genérico Industrial</option>
                                <option value="Genérico ADM">Genérico ADM</option>
                            </select>
                            <span id="createCargoSpan" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="@Model.Setor"></label>
                            <select id="´selectCreateSetor" onchange="changeCreateSetor(this.value)" asp-for="@Model.Setor" class="form-control">
                                <option value="">Selecione o Setor</option>
                                <option value="Comercial">Comercial</option>
                                <option value="PCP/S$OP">PCP/S$OP</option>
                                <option value="Qualidade">Qualidade</option>
                                <option value="Compras">Compras</option>
                                <option value="Suprimentos">Suprimentos</option>
                                <option value="Genérico Industrial">Genérico Industrial</option>
                                <option value="Genérico ADM">Genérico ADM</option>
                                <option value="Produção">Produção</option>
                                <option value="Financeiro">Financeiro</option>
                                <option value="Logística">Logística</option>
                                <option value="Marketing">Marketing</option>
                            </select>
                            <span id="createSetorSpan" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="validateCreate()" class="btn btn-primary float-right">Cadastrar</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    var createUsername = ''
    var createName = ''
    var createCargo = ''
    var createSetor = ''
    var createEmail = ''

  

    function changeCreateUsername(value) {
        createUsername = value;
    }
    function changeCreateName(value) {
        createName = value;
    }
    function changeCreateSetor(value) {
        createSetor = value;
    }
    function changeCreateCargo(value) {
        createCargo = value;
    }
    function changeCreateEmail(value) {
        createEmail = value;
    }

    function validateCreate() {
        var validateUsername = this.validateUsername(createUsername)
        var validateName = this.validateName(createName)
        var validateEmail = this.validateEmail(createEmail)
        var validateSetor = this.validateSetor(createSetor)
        var validateCargo = this.validateCargo(createCargo)
        var validation = validateUsername && validateName && validateEmail && validateSetor && validateCargo
        if (validation) {
            token = $('form').serializeArray()[0].value;

            $('#CreateUserModal').modal('hide');
            $.ajax({
                url: 'Create',
                data: {
                    __RequestVerificationToken: token,
                    Username: createUsername,
                    Name: createName,
                    Setor: createSetor,
                    Cargo: createCargo,
                    Email: createEmail,
                },
                method: 'Post',
                dataType: 'json',
            })

        }

    }
    function validateUsername(createUsername) {
        if (!createUsername) {
            document.getElementById('createUsernameSpan').innerHTML = 'Campo Obrigatório';
            document.getElementById('createUsernameSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('createUsernameSpan').style.display = 'none';
            return true
        }
    }
    function validateName(createName) {
        if (!createName) {
            document.getElementById('createNameSpan').innerHTML = 'Campo Obrigatório';
            document.getElementById('createNameSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('createNameSpan').style.display = 'none';
            return true
        }
    }
 
    function validateEmail(createEmail) {
        var re = /\S+@@\S+\.\S+/;
        var formatEmail = re.test(createEmail);
        if (!createEmail) {
            document.getElementById('createEmailSpan').innerHTML = 'Campo Obrigatório';
            document.getElementById('createEmailSpan').style.display = '';
            return false
        }
        else if (!formatEmail) {
            document.getElementById('createEmailSpan').innerHTML = 'Insira um email válido';
            document.getElementById('createEmailSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('createEmailSpan').style.display = 'none';
            return true
        }
    }
    function validateSetor(createSetor) {
        if (!createSetor) {
            document.getElementById('createSetorSpan').innerHTML = 'Selecione um Setor';
            document.getElementById('createSetorSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('createSetorSpan').style.display = 'none';
            return true
        }
    }
    function validateCargo(createCargo) {
        if (!createCargo) {
            document.getElementById('createCargoSpan').innerHTML = 'Selecione um Cargo';
            document.getElementById('createCargoSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('createCargoSpan').style.display = 'none';
            return true
        }
    }

</script>