@model IEnumerable<Bomix_Force.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuários</h1>

<p class="clearfix">
    <a class="botao btn btn-secondary btn-lg" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th class="text-center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
                    <tr>
                <td>
                teste
                </td>
                <td>
                teste
                </td>
                <td>
                teste
                </td>
                <td>
                teste
                </td>
                <td class="text-center">
                    <a href="@Url.Action("Edit")">
                     <i class="fas fa-user-edit"> </i>
                    </a> | 
                    <a href="@Url.Action("Delete")">
                     <i class="fas fa-user-times"></i>
                    </a>
                    <!-- <button class="btn"><i class="fas fa-user-edit"> @Html.ActionLink("", "Edit", new { /* id=item.PrimaryKey */ }) </i></button> -->
                   
                </td>
            </tr>
                                <tr>
                <td>
                Bruno Côrtes Guerra
                </td>
                <td>
                abcabcabc
                </td>
                <td>
                bc.guerra1000@gmail.com
                </td>
                <td>
                079.039.185-67
                </td>
                <td class="text-center">
                    <a href="@Url.Action("Edit")">
                     <i class="fas fa-user-edit"> </i>
                    </a> | 
                    <a href="@Url.Action("Delete")">
                     <i class="fas fa-user-times"></i>
                    </a>
                    <!-- @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) -->
                </td>
            </tr>
        <!-- @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        } -->
    </tbody>
</table>
@Html.Partial("_Modal")

<style lang="scss" scoped>
.botao {
  float: right;
}

</style>