@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Bomix_Force.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>



<div class="clearfix mx-5">
    @if (User.IsInRole("Employee"))
    {
        <p>
            <text onclick='javascript:history.go(-1)' onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="pagina-anterior">Home / </text>
            <text class="pagina-atual">Clientes</text>
        </p>
    }
    else if (User.IsInRole("Company"))
    {
        <p>
            <text onclick='javascript:history.go(-1)' onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="pagina-anterior">Home / </text>
            <text class="pagina-atual">Funcionários</text>
        </p>
    }
    else
    {
        <p>
            <text onclick='javascript:history.go(-1)' onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="pagina-anterior">Home / </text>
            <text class="pagina-atual">Usuários</text>
        </p>
    }
    @if (User.IsInRole("Company") || User.IsInRole("Admin"))
    {
        <a class="d-flex flex-row-reverse">

            <span class="p-2 btn btn-primary btn-lg" id="createModal" data-url="@Url.Action("Create")" data-target="#CreateUserModal">Cadastrar</span>
        </a>
    }
    @using (Html.BeginForm())
    {
        <form id="typeSearch" asp-controller="User" asp-action="Index">
            <div class="row ml-1 mt-3">
                <div class="search">
                    <img src="~/Assets/ic_search.png" style="margin-left: 3px;" />
                    @Html.TextBox("searchString", null, new { placeholder = "Pesquisar", @class = "input-search" })
                </div>
            </div>
        </form>
    }




    <div class="row">
        @if (@Model?.Count() > 0)
        {
            foreach (var item in @Model)
            {
                <div class="col-sm-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                            {
                                <img style="float: right;" src="~/Assets/ic_info_square.png" />
                            }
                            else
                            {
                                @*<img style="float: right;" src="~/Assets/ic_edit.png" />*@
                                @*<img style="float: right;" src="~/Assets/ic_remove.png" />*@
                            }
                            <p class="title-card-white">@Html.DisplayFor(modelItem => item.Name)</p>
                            <p class="info-card-white">Email: @Html.DisplayFor(modelItem => item.Email)</p>
                            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                            {
                                <p class="info-card-white">Telefone: @Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                                <p class="info-card-white">CNPJ: @Html.DisplayFor(modelItem => item.Cnpj)</p>
                            }
                            else
                            {
                                <p class="card-text"><strong>Setor:  @Html.DisplayFor(modelItem => item.Setor)</strong> </p>
                                <p class="card-text"><strong>Cargo:  @Html.DisplayFor(modelItem => item.Cargo)</strong></p>

                            }

                        </div>
                        <div class="card-footer bg-dark">
                            @*<a>aaa</a>*@
                            <button class="btn text-white float-right" data-toggle="edit-modal" data-target="#editUser" data-url="@Url.Action($"Edit/{item.Id}")"><i class="fas fa-user-edit fa-2x"></i></button>
                            @*@Html.ActionLink("", "Edit", "User", new { item.Id }, new { @class = "fas fa-user-edit fa-2x float-right" })*@
                        </div>

                    </div>
                </div>

                <!-- @Html.DisplayFor(modelItem => item.Name)

                @Html.DisplayFor(modelItem => item.Email)

                @Html.DisplayFor(modelItem => item.Company.Name)
                @Html.ActionLink("", "Edit", "User", new { item.Id }, new { @class = "fas fa-user-edit" }) -->
            }
            @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, searchString = ViewBag.searchString, typeSearch = ViewBag.typeSearch, selectType = ViewBag.selectType }),
           new X.PagedList.Mvc.Core.Common.PagedListRenderOptions()
           {
               ContainerDivClasses = new[] { "container-pagination" },
               LiElementClasses = new [] { "page-item" },
               PageClasses = new[] { "attributes-pag" },
               MaximumPageNumbersToDisplay = 4,
               ActiveLiElementClass = "page-active"
           })   
        }
        else
        {
            <tr>
                <td>
                    <h6>Não foi possível achar as informações do usuário.</h6>
                </td>
            </tr>
        }
    </div>



</div>

