@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Bomix_Force.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>

<div class="container ">


    <div class="clearfix mx-5">
        @if (User.IsInRole("Employee"))
        {
            <div class="pagination-history">
                <a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
                <a class="pagina-atual">Clientes</a>
            </div>
        }
        else if (User.IsInRole("Company"))
        {
            <div class="pagination-history">
                <a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
                <a class="pagina-atual">Funcionários</a>
            </div>
        }
        else
        {
            <div class="pagination-history">
                <a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
                <a class="pagina-atual">Usuários</a>
            </div>
        }
        <div class="row ml-1">
            @using (Html.BeginForm())
            {
                <form class="col-2" id="typeSearch" asp-controller="User" asp-action="Index">
                    <div class="search">
                        <input type="hidden" id="id" name="id" value="@ViewBag.indexEmployeeID">
                        <input type="image" alt="Submit" src="~/Assets/ic_search.png" style="margin-left: 3px;" />
                        @Html.TextBox("searchString", null, new { placeholder = "Pesquisar", @class = "input-search" })
                    </div>
                </form>
            }
            @if (User.IsInRole("Company") || User.IsInRole("Admin"))
            {
                <a class="col-xl-9 ml-4">
                    <span class="float-right" type="button" id="createModal" data-url="@Url.Action("Create")" data-target="#CreateUserModal"><img class="ic-size" src="~/Assets/ic_add_user.png" /></span>
                </a>
            }
        </div>
        





        <div class="row">
            @if (@Model?.Count() > 0)
            {
                foreach (var item in @Model)
                {
                    <div class="col-sm-4 mt-3">
                        <div class="card-white">
                            <div class="card-body">
                                @if (!ViewBag.indexEmployees && (User.IsInRole("Admin") || User.IsInRole("Employee")))
                                {
                                    <form method="post" asp-controller="User" asp-action="indexEmployees">
                                        <input type="hidden" id="id" name="id" value="@item.Id">
                                        <button class="btn text-white float-right" type="submit"><img style="float: right;" src="~/Assets/ic_info_square.png" /></button>
                                    </form>


                                }
                                else
                                {
                                    @*<img style="float: right;" src="~/Assets/ic_edit.png" />*@
                                    @*<img style="float: right;" src="~/Assets/ic_remove.png" />*@
                                }

                                <p class="title-card-white">@Html.DisplayFor(modelItem => item.Name)</p>
                                <p class="info-card-white">Email: @Html.DisplayFor(modelItem => item.Email)</p>
                                @if (!ViewBag.indexEmployees && (User.IsInRole("Admin") || User.IsInRole("Employee")))
                                {
                                    <p class="info-card-white">CNPJ: @Html.DisplayFor(modelItem => item.Cnpj)</p>
                                }
                                else
                                {
                                    <p class="info-card-white"><strong>Setor:  @Html.DisplayFor(modelItem => item.Setor)</strong> </p>
                                    <p class="info-card-white"><strong>Cargo:  @Html.DisplayFor(modelItem => item.Cargo)</strong></p>

                                }

                            </div>
                            @if (User.IsInRole("Company") || ViewBag.indexEmployees)
                            {
                                <div class="container-btn">
                                    <button class="btn float-right" data-toggle="edit-modal" data-target="#editUser" data-url="@Url.Action($"Edit/{item.Id}")"><img src="~/Assets/ic_edit.png" /></button>
                                </div>
                            }

                        </div>
                    </div>
                }
                <div class="container">
                    <div class="row float-right">
                        <div class="col-xs-12">
                            @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, searchString = ViewBag.searchString, id = ViewBag.indexEmployeeID }),
                                new X.PagedList.Mvc.Core.Common.PagedListRenderOptions()
                                {
                                 ContainerDivClasses = new[] { "container-pagination" },
                                 LiElementClasses = new[] { "page-item" },
                                 PageClasses = new[] { "attributes-pag" },
                                 MaximumPageNumbersToDisplay = 4,
                                 ActiveLiElementClass = "page-active",
                                 DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                                 DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Never
                                })
                        </div>
                    </div>
                </div>



            }
            else
            {
                <tr>
                    <td>
                        <h6>Não foi possível achar as informações do usuário.</h6>
                    </td>
                </tr>
            }
        </div>
    </div>



</div>

