@model IEnumerable<Bomix_Force.ViewModels.UserViewModel>
    @{
    ViewData["Title"] = "Index";
    }


    <div class="clearfix mx-5">
    <h2 class="mx-5 mt-3">Usuário</h2>
        <a class="float-right btn btn-primary btn-lg mb-3" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark thead-sm">
            <tr>
                <th scope="col" class="text-center">
                    Username
                </th>
                <th scope="col" class="text-center">
                    Email
                </th>
                <th scope="col" class="text-center">
                    Company
                </th>
                <th scope="col" class="text-center">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Count() > 0)
            {
            foreach (var item in Model)
            {
            <tr>
                <td class="text-center">

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">

                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">

                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>

                <td class="text-center">
                    <a href="@Url.Action(" Edit", new {id=item.Id} )">
                        <i class="fas fa-user-edit"> </i>
                    </a> |
                    <a href="@Url.Action(" Delete", new {id=item.Id})">
                        <i class="fas fa-user-times"></i>
                    </a>
                    <!-- @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) -->
                </td>
            </tr>
            }
            }

        </tbody>
    </table>
    </div>
    </div>