@model IEnumerable<Bomix_Force.ViewModels.NonconformityViewModel>

@{
    ViewData["Title"] = "Index";
}
    <div class="container">
        <h1>Registros de não conformidade</h1>

        <p>
            <a class="btn btn-primary" asp-action="Create">Abrir registro</a>
        </p>

        <table class="table">
            <thead>
                <tr class="bg-dark">
                    <th class="text-center text-white">
                        @Html.DisplayNameFor(model => model.Lote)
                    </th>
                    <th class="text-center text-white">
                        @Html.DisplayNameFor(model => model.Nf)
                    </th>
                    <th class="text-center text-white">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (@Model?.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center ">
                                @Html.DisplayFor(modelItem => item.Lote)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Nf)
                            </td>
                            <td class="text-center ">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center">
                            <h6>Não foi possível achar as informações de não conformidade.</h6>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
