@model IEnumerable<Bomix_Force.ViewModels.NonconformityViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="pagination-history">
        <a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
        <a class="pagina-atual">Não Conformidade</a>
    </div>
    <p>
        <a class="float-right mb-2 mr-3" type="button" asp-action="Create"><img class="ic-size" src="~/Assets/ic_add_non_conf.png" /></a>
    </p>
    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
                <tr class="bg-dark">
                    <th class="text-center text-white">
                        Lote
                    </th>
                    <th class="text-center text-white">
                        Descrição
                    </th>
                    <th class="text-center text-white">
                        NF
                    </th>
                    <th class="text-center text-white">
                        Status
                    </th>
                    @if (User.IsInRole("Employee"))
                    {
                        <th class="text-center text-white">
                            Upload
                        </th>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <th class="text-center text-white">
                            Ações
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (@Model?.Count() > 0)
                {
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td class="text-center ">
                                @Html.DisplayFor(modelItem => item.Lote)
                            </td>
                            <td class="text-center ">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Nf)
                            </td>
                            <td class="text-center">
                                Analise
                            </td>
                            @if (User.IsInRole("Employee"))
                            {
                                <td class="text-left">
                                    <form class="text-center" asp-action="Upload" enctype="multipart/form-data">
                                        <input type="hidden" name="Id" id="Id" value="@item.Id" />
                                        <div class="image-upload text-center">
                                            <label for="FilePath/@item.Id">
                                                <img style="width: 30px; height: 30px; cursor: pointer;" src="~/Assets/ic_upload.png" />
                                            </label>
                                            <label id="LabelFilePath/@item.Id">
                                                Nenhum arquivo Selecionado
                                            </label>
                                            <input type="file" onchange="updatePreview(@item.Id)" id="FilePath/@item.Id" name="FilePath" multiple accept=".pdf" />

                                        </div>
                                        <button type="submit" class="btn btn-primary font-project" style="color: white; background-color: #002A51;">Upload</button>
                                    </form>
                                </td>
                            }
                            @if (User.IsInRole("User"))
                            {
                                <td class="text-center">
                                    <form asp-action="Download">
                                        <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                        <button type="submit" class="btn btn-link">Download</button>
                                    </form>
                                </td>
                            }


                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">
                            <h6>Não foi possível achar as informações de não conformidade.</h6>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function updatePreview(id) {
        const fileTypes = [
            "application/pdf"
        ];
        const input = document.getElementById('FilePath/' + id);
        const preview = document.getElementById('preview');
        console.log(id)
        input.style.opacity = 0;


        const curFiles = input.files;
        if (curFiles.length === 0) {
            textContent= 'Nenhum arquivo selecionado.';
            preview.appendChild(para);
            document.getElementById('LabelFilePath/' + id).innerText = textContent
        } else {

            for (const file of curFiles) {
                if (validFileType(file)) {
                    var textContent = `Arquivo ${file.name}`;
                    document.getElementById('LabelFilePath/' + id).innerText = textContent
                } else {
                    var textContent = `O arquivo ${file.name} não é de um tipo válido. Por favor selecione outro arquivo.`;
                    document.getElementById('LabelFilePath/' + id).innerText = textContent
                }
            }
        }




        function validFileType(file) {
            return fileTypes.includes(file.type);
        }
    }
</script>

