@model IEnumerable<Bomix_Force.ViewModels.DocumentViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="mr-5 ml-5">
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-danger font-project mt-3" style="color: white; background-color: #D52229;">Voltar</a>
    </div>
    @if (!User.IsInRole("Employee"))
    {
        <p>
            <a class="float-right mb-2 mr-3" type="button" asp-action="Create"><img class="ic-size" src="~/Assets/ic_add_non_conf.png" /></a>
        </p>
    }
    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
                <tr class="bg-dark">
                    <th class="text-center text-white">
                        Tipo
                    </th>
                    <th class="text-center text-white">
                        Data
                    </th>
                    <th class="text-center text-white">
                        Status
                    </th>
                    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        <th class="text-center text-white">
                            Upload
                        </th>
                        <th class="text-center text-white">
                            Download
                        </th>
                    }
                    @if (User.IsInRole("User") || User.IsInRole("Company"))
                    {
                        <th class="text-center text-white">
                            Ações
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (@Model?.Count() > 0)
                {
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td class="text-center ">
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td class="text-center ">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            @if (User.IsInRole("Employee"))
                            {
                                <td class="text-left">
                                    <form class="text-center" asp-action="Upload" enctype="multipart/form-data">
                                        <input type="hidden" name="Id" id="Id" value="@item.Id" />
                                        <div class="image-upload text-center">
                                            <label for="FilePathDOC/@item.Id">
                                                <img style="width: 30px; height: 30px; cursor: pointer;" src="~/Assets/ic_upload.png" />
                                            </label>
                                            <label id="LabelFilePathDOC/@item.Id">
                                                Nenhum arquivo Selecionado
                                            </label>
                                            <input type="file" onchange="updatePreview(@item.Id)" id="FilePathDOC/@item.Id" name="FilePath" multiple accept=".pdf" />

                                        </div>
                                        <button id="uploadDOC/@item.Id" type="submit" class="btn btn-primary font-project" style="display:none; color: white; background-color: #002A51;">Upload</button>
                                    </form>
                                </td>
                            }

                            <td class="text-center">
                                <form asp-action="Download">
                                    <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                    @if (item.Status == "Concluido")
                                    {
                                        <button type="submit" class="btn btn-primary font-project" style="color: white; background-color: #002A51;">Download</button>
                                    }
                                </form>
                            </td>



                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">
                            <h6>Não foi possível achar as informações de não conformidade.</h6>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function updatePreview(id) {
        const fileTypes = [
            "application/pdf"
        ];
        const input = document.getElementById('FilePathDOC/' + id);
        const upload = document.getElementById(`uploadDOC/${id}`);
        const preview = document.getElementById('preview');
        input.style.opacity = 0;


        const curFiles = input.files;
        if (curFiles.length === 0) {
            textContent = 'Nenhum arquivo selecionado.';
            preview.appendChild(para);
            document.getElementById('LabelFilePathDOC/' + id).innerText = textContent
            upload.style.display = 'none'
        } else {

            for (const file of curFiles) {
                if (validFileType(file)) {
                    var textContent = `Arquivo ${file.name}`;
                    document.getElementById('LabelFilePathDOC/' + id).innerText = textContent
                    upload.style.display = ''
                } else {
                    var textContent = `O arquivo ${file.name} não é de um tipo válido. Por favor selecione outro arquivo.`;
                    upload.style.display = 'none'
                    document.getElementById('LabelFilePathDOC/' + id).innerText = textContent
                }
            }
        }




        function validFileType(file) {
            return fileTypes.includes(file.type);
        }
    }
</script>

