@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bomix_Force</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" ="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@
</head>

<body class="background-screen">
@if(User.Identity.Name != null){
    <header class="background-screen">   
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow ">
            <div class="container">
                <img src="~/Assets/logo-bomix-header.png" asp-area="" asp-controller="Home" asp-action="Login"/>
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Login">Bomix Force</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <img src="~/Assets/profile-circle-person.png" />
                    <img src="~/Assets/divider.png" class="margin-img" />
                    <a>@User.Identity.Name</a>
                    @*<partial name="_LoginPartial" />*@
                </div>
                <div>
                </div>
            </div>
        </nav>
    </header>
        <!-- <aside class="navbar navbar-toggleable-sm navbar-light bg-white border-right position-fixed margin-topbar" style="border-heigth:600px;width: 110px;">
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="align-middle fas fa-user-alt fa-3x"></i>
                </a>
                <h5 class="text-center">Usuários</h5>
            </div>
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="text-align:center fa fa-archive fa-4x"> </i>
                </a>
                <h5>Pedidos</h5>
            </div>
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="text-align:center fas fa-piggy-bank fa-4x"></i>
                </a>
                <h5 class="text-center">Vendas</h5>
            </div>
        </aside> -->
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
}else{
     @RenderBody()  
}

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Bomix_Force - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/96765fe8b0.js" crossorigin="anonymous"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>

<style lang="scss" >
    /*Custom styles
-------------------------------------------------- */

    .sheet {
        width: 241px !important;
        height: 137px !important;
        border-radius: 8px !important;
        border: solid 1px #ffffff !important;
        background-color: #002a51 !important;
    }

    .background-screen {
        background-color: #f7f8fc;
    }

    .text-label-menu {
        width: 153px;
        height: 18px;
        font-family: Mulish;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
    }

    .name-loged-navbar {
        width: 112px;
        height: 18px;
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: #252733;
    }

    .name-loged {
        width: 286px;
        height: 36px;
        font-family: Mulish;
        font-size: 36px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.56;
        letter-spacing: 0.2px;
        color: #252733;
    }

    .pagina-atual {
        width: 273px;
        height: 22px;
        font-family: Mulish;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.2px;
        color: #000000;
    }

    .pagina-atual .pagina-anterior {
        font-weight: normal;
    }
    .margin-img {
        margin: 0px 15px 0px 15px;
    }
</style>
