@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bomix Force</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" ="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@
</head>

<body class="background-screen">
@if(User.Identity.Name != null){
    <header class="background-screen">   
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow ">
            <div class="container ">
                <a asp-area="" asp-controller="Home" asp-action="Login"><img src="~/Assets/logo-bomix-header.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
                <div>
                </div>
            </div>
        </nav>
    </header>
        <!-- <aside class="navbar navbar-toggleable-sm navbar-light bg-white border-right position-fixed margin-topbar" style="border-heigth:600px;width: 110px;">
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="align-middle fas fa-user-alt fa-3x"></i>
                </a>
                <h5 class="text-center">Usuários</h5>
            </div>
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="text-align:center fa fa-archive fa-4x"> </i>
                </a>
                <h5>Pedidos</h5>
            </div>
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="text-align:center fas fa-piggy-bank fa-4x"></i>
                </a>
                <h5 class="text-center">Vendas</h5>
            </div>
        </aside> -->
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
}else{
     @RenderBody()  
}

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Bomix_Force - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/96765fe8b0.js" crossorigin="anonymous"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>

<style lang="scss" >

    /*Custom styles*/
/*-------------------------------------------------- */

    .sheet-menu {
        width: 100%;
        height: 137px !important;
        border-radius: 8px !important;
        border: solid 1px #ffffff !important;
        background-color: #002a51 !important;
    }

    .background-screen {
        background-color: #f7f8fc;
    }

    .text-label-menu {
        width: 100%;
        height: 17px;
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: #ffffff;
    }

    .name-loged-navbar {
        width: 112px;
        height: 18px;
        font-family: 'Mulish', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: #252733;
    }

    .name-loged {
        width: 286px;
        height: 36px;
        font-family: 'Mulish', sans-serif;
        font-size: 36px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.56;
        letter-spacing: 0.2px;
        color: #252733;
    }

    .pagina-atual {
        width: 273px;
        height: 22px;
        font-family: 'Mulish', sans-serif;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.2px;
        color: #000000;
    }

    .pagina-anterior {
        width: 273px;
        height: 22px;
        font-family: 'Mulish', sans-serif;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.2px;
        color: #000000;
    }

    .margin-img {
        margin: 0px 15px 0px 15px;
    }

    .title-user {
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 20px;
        /* or 67% */
        letter-spacing: 0.2px;
        /* grayscale / black */
        color: #252733;
    }

    .search {
        width: auto;
        position: relative;
        height: 35px;
        opacity: 0.8;
        border-radius: 2px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border: 0px;
        padding: 3.5px;
    }

    .input-search{
        border: 0px;
    }
    .input-search:focus {
        outline: none;
    }

    /*.card-white {
        position: relative;
        flex-direction: column;
        min-width: 0;
        height: 180px;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px #d9d2d2;
        background-color: #f7f8fc;
        display: block;
    }*/

    .title-card-white {
        width: 95%;
        height: auto;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        /* or 56% */
        letter-spacing: 0.2px;
        color: #000000;
    }

    .info-card-white {
        width: auto;
        height: auto;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        /* or 111% */
        letter-spacing: 0.2px;
        word-wrap:break-word;
        color: #000000;
        margin: 0px 7px 2px 4px;
    }

    .container-pagination {
        width: auto;
        height: 39px;
        margin-top: 20px;
        align-content: center;
        margin-left:5px;
        margin-right: 5px;
    }

    .pagination_custom {
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
        color: red;
    }
    
    .page-item {
        background: #8DC7FD;
        border-radius: 3px;
        width: 41px;
        height: 39px;
        margin-left: 2px;
        margin-right: 2px;
        color: white;
        align-content: center;
    }

    .attributes-pag {
        color: white;
        margin-top: 7px;
        margin-left: 39%;
        display: inline-block;
    }

    .page-active {
        background: #002A51;
        border-radius: 3px;
        width: 41px;
        height: 39px;
        margin-left: 2px;
        margin-right: 2px;
        align-content: center;
    }

    .cards-persons {
        width: 482px;
        height: 180px;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #002a51;
    }
    
    .options-account {
        position: absolute;
        height: 56px;
        left: 0px;
        right: 0px;
        top: 0px;
        background: #c4c4c4;
    }
    
    .option-account-selected {
        width: 177px;
        height: 28px;
        border-radius: 4px;
        background-color: #002a51;
    }
    
    .option-account-unselected {
        width: 177px;
        height: 28px;
        border-radius: 4px;
        background-color: #c4c4c4;
    }
    
    .bg-account-data {
        width: 632px;
        height: 285px;
        border-radius: 6px;
        border: solid 0.2px #c4c4c4;
        background-color: #ffffff;
    }
    
    .input {
        width: 268px;
        height: 24px;
        border-radius: 6px;
        border: solid 0.2px #000000;
        background-color: #f7f8fc;
    }
    
    .bt-save {
        width: 131px;
        height: 26px;
        border-radius: 5px;
        background-color: #002a51;
    }

    .bt-disable-account {
        width: 169px;
        height: 27px;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: 0.2px;
        color: #ffffff;
    }
    
    .bt-duplicate-order {
        width: 127px;
        height: 34px;
        border-radius: 3px;
        border: solid 1px rgba(29, 28, 29, 0.5);
        background-color: #8dc7fd;
    }

</style>
