@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bomix Force</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    @*<link rel="stylesheet" ="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@
</head>

<body class="background-screen">
    @if (User.Identity.Name != null)
    {
        <header class="background-screen">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow ">
                <div class="container ">
                    <a asp-area="" asp-controller="Home" asp-action="Login"><img src="~/Assets/logo-bomix-header.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                    </div>
                    <div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- <aside class="navbar navbar-toggleable-sm navbar-light bg-white border-right position-fixed margin-topbar" style="border-heigth:600px;width: 110px;">
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="align-middle fas fa-user-alt fa-3x"></i>
                </a>
                <h5 class="text-center">Usuários</h5>
            </div>
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="text-align:center fa fa-archive fa-4x"> </i>
                </a>
                <h5>Pedidos</h5>
            </div>
            <div>
                <a href="@Url.Action("Index", "User")">
                    <i class="text-align:center fas fa-piggy-bank fa-4x"></i>
                </a>
                <h5 class="text-center">Vendas</h5>
            </div>
        </aside> -->
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        @RenderBody()
    }

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - Bomix Force - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/96765fe8b0.js" crossorigin="anonymous"></script>

    @await Html.PartialAsync("_notificationPartial")

    @RenderSection("Scripts", required: false)

</body>
</html>

<style lang="scss">

    /*Custom styles*/
    /*-------------------------------------------------- */

    @@media only screen and (max-width: 768px) {
        [class="login-box"] {
            width: 55% !important;
        }

        [class="change-pass-box"] {
            width: 70% !important;
        }

        [class="bt-save"] {
            width: 50% !important;
        }

        [class="title-pass"] {
            margin-left: 0 !important;
            font-size: 25px !important;
        }

        [class="ic-size"] {
            width: 25px !important;
            height: 25px !important;
        }

        [class="margin-add-user"] {
            margin-left: 29% !important;
        }

        [class="options-account-container"] {
            margin-top: 0 !important;
            float: left !important;
            margin-left: 10% !important;
        }
    }

    @@media only screen and (width: 320px) {
        [class="login-box"] {
            width: 80% !important;
        }

        [class="change-pass-box"] {
            width: 80% !important;
        }

        [class="bt-save"] {
            width: 50% !important;
        }
    }

    /* top-left border-radius */
    /*table tr:first-child th:first-child {
        border-top-left-radius: 6px;
        border-top: 0;
    }*/

    /* top-right border-radius */
    /*table tr:first-child th:last-child {
        border-top-right-radius: 6px;
        border-top: 0;
    }*/

    /* bottom-left border-radius */
    /*table tr:last-child td:first-child {
        border-bottom-left-radius: 6px;
    }*/

    /* bottom-right border-radius */
    /*table tr:last-child td:last-child {
        border-bottom-right-radius: 6px;
    }*/
    .image-upload > input {
        display: none;
    }

    .login-container {
        align-items: center;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .login-box {
        width: 25%;
        background: #FFFFFF;
        border: 0.2px solid #C4C4C4;
        border-radius: 6px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .login-center-button {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: column;
    }

    .login-form {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .login-inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .login-label {
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        letter-spacing: 0.2px;
        color: #000000;
    }

    .title-pass {
        margin-left: 10%;
        margin-top: 10px;
    }

    .change-pass-container {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .change-pass-box {
        width: 40%;
        background: #FFFFFF;
        border: 0.2px solid #C4C4C4;
        border-radius: 6px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-block;
        -ms-flex-align: start;
        -webkit-align-items: start;
        -webkit-box-align: start;
        align-items: start;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 2.5%;
        padding-left: 2.5%;
        padding-bottom: 2.5%;
    }

    .change-pass-form {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }

    .right-button {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: end;
        -webkit-align-items: end;
        -webkit-box-align: end;
        align-items: end;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 15px;
        flex-direction: column;
    }

    .sheet-menu {
        width: 100%;
        height: 137px !important;
        border-radius: 8px !important;
        border: solid 1px #ffffff !important;
        background-color: #002a51 !important;
    }

    .background-screen {
        background-color: #f7f8fc;
    }

    .text-label-menu {
        width: 100%;
        height: 17px;
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: #ffffff;
    }

    .name-loged-navbar {
        width: 112px;
        height: 18px;
        font-family: 'Mulish', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: #252733;
    }

    .name-loged {
        width: 286px;
        height: 36px;
        font-family: 'Mulish', sans-serif;
        font-size: 36px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.56;
        letter-spacing: 0.2px;
        color: #252733;
    }

    .pagina-atual {
        height: 22px;
        font-family: 'Mulish', sans-serif;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.2px;
        color: #000000;
    }

    .pagina-anterior {
        height: 22px;
        font-family: 'Mulish', sans-serif;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.2px;
        color: #000000;
    }

    .margin-img {
        margin: 0px 15px 0px 15px;
    }

    .title-user {
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 20px;
        /* or 67% */
        letter-spacing: 0.2px;
        /* grayscale / black */
        color: #252733;
    }

    .font-project {
        font-family: 'Mulish', sans-serif;
        color: #252733;
        letter-spacing: 0.2px;
    }

    .title-font {
        font-family: 'Mulish', sans-serif;
        color: #252733;
        letter-spacing: 0.2px;
        font-weight: 600;
        font-size: 30px;
    }


    .margin-add-user {
        margin-left: 75%;
    }

    .search {
        width: auto;
        position: relative;
        height: 35px;
        opacity: 0.8;
        border-radius: 2px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border: 0px;
        padding: 3.5px;
    }

    .input-search {
        border: 0px;
    }

        .input-search:focus {
            outline: none;
        }

    .card-white {
        position: relative;
        flex-direction: column;
        min-width: 0;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px #d9d2d2;
        background-color: #f7f8fc;
        display: block;
    }

    .title-card-white {
        width: 95%;
        height: auto;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        /* or 56% */
        letter-spacing: 0.2px;
        color: #000000;
    }

    .info-card-white {
        width: auto;
        height: auto;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        /* or 111% */
        letter-spacing: 0.2px;
        word-wrap: break-word;
        color: #000000;
        margin: 0px 7px 2px 4px;
    }

    .container-btn {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .container-pagination {
        width: auto;
        height: 39px;
        margin-top: 20px;
        align-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    .pagination_custom {
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
        color: red;
    }

    .page-item {
        background: #8DC7FD;
        border-radius: 3px;
        display: inline-flex;
        width: 41px;
        height: 39px;
        margin-left: 2px;
        margin-right: 2px;
        color: white;
        align-content: center;
    }

    .attributes-pag {
        color: white;
        margin-top: 7px;
        margin-left: 39%;
        display: inline-block;
    }

    .page-active {
        background: #002A51;
        border-radius: 3px;
        width: 41px;
        height: 39px;
        margin-left: 2px;
        margin-right: 2px;
        align-content: center;
        float: right;
    }

    .cards-persons {
        width: 482px;
        height: 180px;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #002a51;
    }

    .options-account-container {
        display: flex;
        float: right;
        margin-top: 15%;
    }

    ul.options {
        list-style-type: none;
        width: 90px;
        padding: 0;
        border-radius: 4px;
        background-color: #c4c4c4;
        color: white;
    }

    li.options-label {
        cursor: pointer;
        padding: 2px;
        color: white;
    }

        li.options-label:active {
            background-color: #002a51;
        }

    .bg-account-data {
        width: 632px;
        height: 285px;
        border-radius: 6px;
        border: solid 0.2px #c4c4c4;
        background-color: #ffffff;
    }

    .input {
        border-radius: 6px;
        border: solid 0.01px #000000;
        background-color: #f7f8fc;
    }

    .bt-save {
        height: 26px;
        width: 60%;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #002a51;
        color: white;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .bt-disable-account {
        width: 169px;
        height: 27px;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: 0.2px;
        color: #ffffff;
    }

    .bt-duplicate-order {
        width: 127px;
        height: 34px;
        border-radius: 3px;
        border: solid 1px rgba(29, 28, 29, 0.5);
        background-color: #8dc7fd;
    }

    .pagination-history {
        display: inline-block;
    }

        .pagination-history a {
            color: black;
            float: left;
            padding: 8px 0px;
            text-decoration: none;
        }

    .ic-size {
        width: 40px;
        height: 40px;
    }

    .ic-size:hover {
        cursor: pointer;
    }

    #overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: content-box;
        height: 100%;
        opacity: .5;
        background-color: #000;
        z-index: 1000;
    }


    #spinner {
        display: block;
        position: fixed;
        box-sizing: content-box;
        opacity: 1;
        z-index: 1000;
        top: 50%;
        left: 50%;
        height: 100px;
        width: 100px;
        opacity: 1;
        margin-top: -25px;
        margin-left: -50px;
        border: 16px solid #002b54;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
</style>


